<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Deletion warning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        padding: 2em 10em;
    }
    .gray {
        color: gray;
    }
    .bold {
        font-weight: bold;
    }
    p {
        line-height: 17pt;
    }
    a {
        text-decoration: none;
        color: gray;
    }
    a:hover {
        text-decoration: underline;
    }

</style>
<body>
    <h1>Deletion warning</h1>
    <p>
        Your space "<span class="bold">$space_name</span>" with:<br><br>

        id: &emsp; $space_id<br>
        path: &emsp; $space_path<br><br>

        will be removed by<br>
        <span class="bold">$date</span>.<br><br>
        If you do not want this to happen, you can set RemovingTime to "never" or remove the whole line in $config_file.
    </p>

    <p class="gray">This email was sent automatically by <a href="https://github.com/CERIT-SC/fs2od" target="_blank"><span class="bold">fs2od</span></a> $now.</p>
</body>
</html>